table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(245,245,245);
}

caption {
    padding: 8px;
    border: 1px solid #dddddd;
}

table.tablita {
    background-color: #c9e9fc;
}

tr.tr {
    background-color: rgb(7,87,152);
    color: white;
}

caption.videojuegos {
    background-color: #3e5f8a;
    color: white;
}

h2 {
    text-align: center;
}

.juegos:hover {
    background-color: #E0E0E0;
    
}